body, html{
    height: 100%;
    width: 100%;
    position: relative;
}

@media only screen and (max-width: 900px) {
  #title-text{
    font-size: 30px;
  }
}

#background-carousel{
    opacity: 0;
    position:fixed;
    height:100%;
    width:100%;
    z-index: -1;
    animation: 2s ease-out fadein;
    animation-fill-mode: forwards;
}

.carousel-inner {
    width:100%;
    height:100%;
    z-index: 0;
    overflow: hidden;
}

.carousel-item {
    width:100%;
    height:100%;
    background-position: center center;
    z-index: 0;
}

.bgslide{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title-section{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

#title-text {
    opacity: 0;
    animation: 0.75s ease-out 1s fadein;
    animation-fill-mode: forwards;
}

#sub-text {
    opacity: 0;
    animation: 0.75s ease-out 2s fadein;
    animation-fill-mode: forwards;
}

#mediarow {
    opacity: 0;
    animation: 1s ease-out 2s fadein;
    animation-fill-mode: forwards;
}

.scrollbutton{
    bottom: 5%;
    height: 40px;
    opacity: 0;
    position: absolute;
    animation: 1s ease-out 3s fadein;
    animation-fill-mode: forwards;
}

.scrollbutton img {
    animation-name: nextBtn;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: initial;
    animation-play-state: initial;
}


.details{
    margin: auto;
    color: white;
    width: 33%;
    height: 100%;
    padding-top: 20%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes nextBtn {
    0%  {transform: translateY(0);}
    50% {transform: translateY(10px);}
    100%    {transform: translateY(0);}
}